@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: "";
  logs: true;
}

@theme {
  --spacing: 4px; 

}

@layer components {
  .gallery{
    @apply grid;
    @apply gap-x-4; 
    @apply gap-y-8;
    
  }
  /* media box */
  .gallery div {
    @apply flex;
    @apply flex-col;
    /* @apply mb-4; */
  }
  /* image */
  .gallery div img {
    @apply cursor-pointer;       
    @apply transition-opacity;
    @apply duration-300;
    @apply ease-in-out;
    @apply transform;
    @apply hover:opacity-50;


  }
  /* caption */
  .gallery div div {
    @apply overflow-x-hidden;
    @apply text-center; 
    @apply bg-base-100;      
    @apply p-4;
    @apply mt-2;

  }

  .gallery-box{
    @apply gap-4;
    
  }

  .gallery-box div {
    @apply shadow-lg;
    @apply border-4; 
    @apply border-white;
  }

  .gallery-box div img {
    @apply aspect-square;
    @apply object-cover;
    @apply object-top;
  }


}

.body {
  @apply bg-white;
  @apply text-gray-600;
  @apply leading-normal;
  @apply text-base;
  @apply tracking-normal;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}



.btn {
  @apply rounded-none;
  @apply px-12;
  @apply font-normal;
  @apply hover:bg-black;
  @apply hover:text-white;
}

.btn-nav a {
  @apply btn-sm;
  @apply lg:btn-md;
  @apply px-2;
  @apply bg-white;
  @apply text-lg;
  @apply shadow-none;
  @apply gap-2;
  @apply lg:gap-3;
  @apply mt-10;
  @apply lg:mt-0;
  @apply min-w-40;

}

.btn-nav svg {
  @apply h-6;
  @apply w-6;
  @apply fill-current;
  @apply lg:h-8;
  @apply lg:w-8;
}


.playwrite {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.serif-font {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
      
#menu-toggle:checked + #menu {
  display: block;
}



#myModal {
  touch-action: pan-y pinch-zoom;
}




/* FORM */

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}
