@tailwind base;
@tailwind utilities;

@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: "";
  logs: true;
}

@theme {
  --spacing: 4px; 
}

@layer components {
  .gallery-a{
    @apply grid;
    @apply gap-x-4; 
    @apply gap-y-8;
    
  }
  /* media box */
  .gallery-a div {
    @apply flex;
    @apply flex-col;
    /* @apply mb-4; */
  }
  /* image */
  .gallery-a div img {
    @apply cursor-pointer;       
    @apply transition-opacity;
    @apply duration-300;
    @apply ease-in-out;
    @apply transform;
    @apply hover:opacity-50;


  }
  /* caption */
  .gallery-a div div {
    @apply overflow-x-hidden;
    @apply text-center; 
    @apply bg-base-100;      
    @apply p-4;
    @apply mt-2;

  }
}


.btn {
  @apply rounded-none;
  @apply px-12;
  @apply font-normal;
  @apply hover:bg-black;
  @apply hover:text-white;
}


.playwrite {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.work-sans {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
      
#menu-toggle:checked + #menu {
  display: block;
}



#myModal {
  touch-action: pan-y pinch-zoom;
}




/* FORM */

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}
